
/* Reduce width of search result display, to make room for Sidebar */
#resultsTileNoId {
	width: 58%;
	margin-right: 1em;
}

.EXLALMAResultsTileNoFacets {
  margin-right: 40% !important;
  widthL 60% !important;
}

div#resultsTileNoId.EXLResultsTile.EXLALMAResultsTileNoFacets,
div#resultsTileNoId.EXLResultsTile.EXLCustomLayoutContainer,
{
  width: 97%;
}

#osuSidebar {
	width: 16%;
	float: right;
	margin-left: 1em;
	border-left: 1px solid #D7DDE3;
	padding-left: 1em;
}

#osuSidebar p {
	font-size: .95em;
}

#osuSidebar ul {
	margin-left: 1.3em;
}

#osuSidebar ul li {
	font-size: .95em;
}


/* Make header menu wider to not wrap links on 2 lines (was 40em) */
#exlidMainMenuTile div.EXLMainMenuContainer {
	width: 50em !important;
}


/* Hide ExLibris' Help link */
ul#exlidMainMenuRibbon li.EXLLastItem {
	display:none;
}
/* Hide menu separator from new 'last' link */
#exlidMainMenuItem6 span {
	border-right: 0px !important;
}


/* Hide chat logo in Search 'Banner' position */
#exlidSearchBanner {
	display: none;
}


/* Reduce font size in Scopes dropdown */
#scopesList > div.EXLSearchFieldRibbonFormSelectedCollection {
	font-size: .95em;
}


.EXLFacetRSSAction {
	font-weight: bold;
	text-transform: uppercase;
}


/* Hide SMS input box and label in My Account */
label[for=sms_number], input#sms_number {
  display: none !important;
}


/* Language drop-down removal allignement fix */ 
#exlidMainMenuTile div.EXLMainMenuContainer { float: right } 

/* Locations tab must be disabled for Primo-Alma integrations */ 
.EXLTabsRibbon div li.EXLLocationsTab { display: none } 

/* Removing Reviews and Tags */ 
.EXLTabsRibbon div li.EXLReviewsTab { display: none }

/*---Changing width of Advanced Search button---*/
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch { width: 8.5em;}

/*-- Add numbers to search results --*/
.EXLResultsList td.EXLResultNumber {vertical-align: top; display:table-cell; *display:block; width:1%; padding-top: 5px;} /* note the *display hack for ie6/7 */

/* tweak sign-in link on request tab, jlw 2013.09.24 */ 
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLine {font-weight: normal} 
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineInstName {display: none} 
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineSignIn {float: left; font-weight: bold}

/*--Hide Times Cited tab--*/
.EXLCitationsTab.EXLResultTab.EXLServiceConditionalTab  {
    display: none !important;
}


/* Originally added by someone on 1/13/15 to /uploaded_files/css */
/* For the "More" link's list of institutional availability, make the
 * institution names just be text and not hotlinks.  */
em.EXLInstititutionSelectionInstName, em.EXLInstititutionSelectionInstName a 
{
    pointer-events: none;
    cursor: default;
    color: black;
}

